
    <link rel="stylesheet" href="css/parcours.css"/>

    <div class="container marketing mt-5 mb-5 border border-start border-end border-white border-bottom-0 border-top-0">

        {{#featurette}}
            <div class="row featurette w-100 m-1">

                <div class="col-md-7 {{#reverse}}order-md-2{{/reverse}}">

                    {{#featuring-heading}}
                        <h2 class="featurette-heading">
                            {{#featuring-heading-fontawesome}}
                                <i class="{{featuring-heading-fontawesome}}"></i>{{/featuring-heading-fontawesome}} 
                            {{featuring-heading-titre}}

                            {{#featuring-heading-span}}
                                <span class="text-muted">{{featuring-heading-span}}</span>
                            {{/featuring-heading-span}}
                        </h2>
                    {{/featuring-heading}}

                    {{#lead}}
                        <p class="lead">{{lead}}</p>
                    {{/lead}}

                    {{#tablist}}
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {{#tablist-ul}}
                                <li class="nav-item" role="presentation">
                                    <a class="alink nav-link {{#list-active}}active{{/list-active}}" id="{{list-id}}-tab" data-bs-toggle="tab" href="#{{list-id}}" role="tab" aria-controls="{{list-id}}" aria-selected="true">{{list-titre}}</a>
                                </li>
                            {{/tablist-ul}}
                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <br/>

                            {{#tabcontent}}                    
                                <div class="tab-pane fade {{#active}}show active{{/active}}" id="{{tab-pane-id}}" role="tabpanel" aria-labelledby="{{tab-pane-id}}-tab">
                                    
                                    {{#blockquote}}
                                        <blockquote class="blockquote">
                                            <p class="mb-0">{{#blockquote-fontawesome}}<i class="{{blockquote-fontawesome}}"></i>{{/blockquote-fontawesome}} {{blockquote-titre}} </p>
                                            <footer class="blockquote-footer">
                                                {{blockquote-footer}} -
                                                <cite title="Source Title">
                                                    {{blockquote-cite}}
                                                </cite>
                                            </footer>
                                        </blockquote>
                                    {{/blockquote}}

                                    {{#tab-pane-ul}}
                                        {{#tab-pane-h2}}
                                            <h4>{{tab-pane-h2}}</h4>
                                        {{/tab-pane-h2}}
                                        <ul>
                                            {{#tab-pane-li}}
                                                <li>{{.}}</li>
                                            {{/tab-pane-li}}
                                        </ul>
                                    {{/tab-pane-ul}}
                                
                                </div>
                            {{/tabcontent}}

                        </div>
                    {{/tablist}}

                </div>

                <div class="col-md-5 {{#reverse}}order-md-1{{/reverse}}">

                    {{#svg}}
                        <!--
                            Source: https://www.w3schools.com/html/html5_svg.asp
                        -->
                        <svg class="bd-placeholder-img bd-placeholder-img-lg rounded-circle featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                            
                            <!--
                                SVG BACKGROUNDS
                                Source: https://www.svgbackgrounds.com/
                            -->

                            {{#svg-abstract-timekeeper}}
                                {{>svg-abstract-timekeeper}}
                            {{/svg-abstract-timekeeper}}

                            {{#svg-default}}
                                {{>svg-default}}
                            {{/svg-default}}

                            {{#svg-diamond-sunset}}
                                {{>svg-diamond-sunset}}
                            {{/svg-diamond-sunset}}

                            {{#svg-dragon-scales}}
                                {{>svg-dragon-scales}}
                            {{/svg-dragon-scales}}

                            {{#svg-potruding-squares}}
                                {{>svg-potruding-squares}}
                            {{/svg-potruding-squares}}

                            {{#svg-rainbow-vortex}}
                                {{>svg-rainbow-vortex}}
                            {{/svg-rainbow-vortex}}

                            {{#svg-subbtle-prism}}
                                {{>svg-subbtle-prism}}
                            {{/svg-subbtle-prism}}

                            {{#svg-sun-tornado}}
                                {{>svg-sun-tornado}}
                            {{/svg-sun-tornado}}

                            <!-- pour animer text: https://css-tricks.com/moving-text-on-a-curved-path/ -->
                            <!-- 
                                <path id="curve" fill="transparent" d="M0.17,0.23c0,0,105.85,77.7,276.46,73.2s243.8-61.37,408.77-54.05c172.09,7.64,213.4,92.34,413.28,64.19"></path>
                                <text fill="#ffffff" font-size="45" font-family="Verdana" x="25%" y="55%">
                                    <textPath style="transform:translate3d(0,0,0);" alignment-baseline="top" xlink:href="#curve">
                                    {{! {{svg-text}}
                                    </textPath> 
                                </text>
                            -->
                            <text fill="#{{svg-text-color}}" font-size="45" font-weight="bold" font-family="Garamond" x="25%" y="55%">
                                {{svg-text}}
                            </text>
                            Votre navigateur ne supporte pas l'affichage des SVG! Veuillez réessayer sur un autre navigateur pour une visite optimale sur ce site!
                        </svg>

                    {{/svg}}

                </div>

            </div>

            {{#divider}}
                <hr class="featurette-divider bg-white">
            {{/divider}}
        {{/featurette}}
    </div>
