
    <link rel="stylesheet" href="{{chemin}}ressources/css/terminal_text_effect.css"/>

    <div class='console-container'>
        <span id='console_text'></span>
        <div class='console-underscore' id='console_underscore'>
            &#95;
        </div>
    </div>

    <script src="{{chemin}}ressources/js/terminal_text_effect.js"></script>
