
    <!-- 
      Terminal Text Effect
      Source: https://1stwebdesigner.com/css-text-effects/
    -->

    <!-- Fichier CSS associé -->
    <link rel="stylesheet" href="css/contact.css"/>
            
    <div class="console-container">

        <span id='console_text'></span>

        <div class='console-underscore' id='console_underscore'>

            &#95;
            
        </div>

    </div>

    <div class="d-flex flex-column bd-highlight" style="position: absolute; top: 50%; left: 0; right: 0;">

        <div class="container marketing h-100">

            <div class="row">
                {{#card}}
                <div class="col-lg-6">

                    <div class="card bg-dark border-light">

                        <div class="card-body bg-transparent">
                            {{#card-h5}}
                                <b>
                                    <h5 class="card-title"><i class="{{card-h5-fontawesome}}"></i> {{card-h5-text}}</h5>
                                </b>
                            {{/card-h5}}
                            {{#card-p}}
                                <p class="card-text">{{card-p-text}}</p>
                            {{/card-p}}
                            {{#card-btn}}
                                <a href="{{card-btn-href}}" class="btn btn-outline-{{card-btn-color}}" style="display: block; margin: auto;" {{#card-btn-target}}target="_blank"{{/card-btn-target}}>{{card-btn-text}}</a>
                            {{/card-btn}}
                        </div>

                    </div>

                </div>
                {{/card}}
            </div>

        </div>

    </div>

    <!-- Fichier JavaScript associé -->
    <script src="js/contact.js"></script>
