
    <div class="container marketing mt-5 mb-5 border border-start border-end border-white border-bottom-0 border-top-0">

        <div class="row">
            {{#conception}}
            <div class="col-lg-4">
                <!--
                <img class="bd-placeholder-img rounded-circle mb-2" src="../ressources/images/img-001.jpg" alt="Girl in a jacket" width="140" height="140">
                -->
                <svg class="bd-placeholder-img bd-placeholder-img-lg rounded-circle featurette-image img-fluid mx-auto" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    {{>svg-dragon-scales}}
                </svg>
                <h2 class="mb-5">{{conception-titre}}</h2>
                {{#conception-blockquotes}}
                    <blockquote class="blockquote">
                        <p class="mb-0"><i class="{{conception-blockquotes-fontawesome}}"></i> {{conception-blockquotes-text}}</p>
                        <footer class="blockquote-footer">
                            {{#conception-blockquotes-footer-niveau}}{{conception-blockquotes-footer-niveau}} -{{/conception-blockquotes-footer-niveau}}{{#conception-blockquotes-footer-apprentissage}}{{conception-blockquotes-footer-apprentissage}} {{/conception-blockquotes-footer-apprentissage}}
                        </footer>
                    </blockquote>
                {{/conception-blockquotes}}
            </div>
            {{/conception}}
            <!-- /.col-lg-4 -->
            {{#ide}}
            <div class="col-lg-4">
                <!--
                <img class="bd-placeholder-img rounded-circle mb-2" src="../ressources/images/img-001.jpg" alt="Girl in a jacket" width="140" height="140">
                -->
                <svg class="bd-placeholder-img bd-placeholder-img-lg rounded-circle featurette-image img-fluid mx-auto" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                    {{>svg-potruding-squares}}
                </svg>
                <h2 class="mb-5">{{ide-titre}}</h2>
                {{#ide-blockquotes}}
                    <blockquote class="blockquote">
                        <p class="mb-0"><i class="{{ide-blockquotes-fontawesome}}"></i> {{ide-blockquotes-text}}</p>
                        <footer class="blockquote-footer">
                            {{#ide-blockquotes-footer-niveau}}{{ide-blockquotes-footer-niveau}} -{{/ide-blockquotes-footer-niveau}} {{#ide-blockquotes-footer-apprentissage}}{{ide-blockquotes-footer-apprentissage}}{{/ide-blockquotes-footer-apprentissage}}
                        </footer>
                    </blockquote>
                {{/ide-blockquotes}}
            </div>
            {{/ide}}
            <!-- /.col-lg-4 -->
            {{#programmation}}
                <div class="col-lg-4">
                    <!--
                    <img class="bd-placeholder-img rounded-circle mb-2" src="../ressources/images/img-001.jpg" alt="Girl in a jacket" width="140" height="140">
                    -->
                    <svg class="bd-placeholder-img bd-placeholder-img-lg rounded-circle featurette-image img-fluid mx-auto" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                        {{>svg-rainbow-vortex}}
                    </svg>
                    <h2 class="mb-5">{{programmation-titre}}</h2>
                    {{#programmation-blockquotes}}
                        <blockquote class="blockquote">
                            <p class="mb-0"><i class="{{programmation-blockquotes-fontawesome}}"></i> {{programmation-blockquotes-text}}</p>
                            <footer class="blockquote-footer">
                                {{#programmation-blockquotes-footer-niveau}}{{programmation-blockquotes-footer-niveau}}{{/programmation-blockquotes-footer-niveau}} {{#programmation-blockquotes-footer-apprentissage}}- {{programmation-blockquotes-footer-apprentissage}}{{/programmation-blockquotes-footer-apprentissage}}
                            </footer>
                        </blockquote>
                    {{/programmation-blockquotes}}
                </div>
            {{/programmation}}
            <!-- /.col-lg-4 -->
        </div>
        <!-- /.row -->
    </div>
