
{{>Head}}

    {{>Navbar}}

    {{#accueil}}
        {{>accueil}}
    {{/accueil}}

    {{#competences}}
        {{>competences}}
    {{/competences}}

    {{#contact}}
        {{>contact}}
    {{/contact}}

    {{#cv}}
        {{>cv}}
    {{/cv}}

    {{#erreur}}
        {{>erreur}}
    {{/erreur}}

    {{#experiences}}
        {{>experiences}}
    {{/experiences}}

    {{#parcours}}
        {{>parcours}}
    {{/parcours}}

    {{#presentation}}
        {{>presentation}}
    {{/presentation}}

{{>Footer}}
