{{>Head}}

    {{>Navbar}}

    {{#accueil}}
        {{>accueil}}
    {{/accueil}}

    {{#erreur}}
        {{>erreur}}
    {{/erreur}}

    {{#parcours}}
        {{>parcours}}
    {{/parcours}}

    {{#presentation}}
        {{>presentation}}
    {{/presentation}}

{{>Footer}}